---
Language: Cpp
Standard: c++17
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AlignAfterOpenBracket: Align
IndentCaseLabels: false
ColumnLimit: 120
AccessModifierOffset: -4
UseTab: Never

# 함수 선언시 인자들을 한줄로 표현할지 여부
BinPackParameters: false
BinPackArguments: false

# template 함수 분리
AlwaysBreakTemplateDeclarations: Yes
PenaltyBreakBeforeFirstCallParameter: 100

# int* p for int *p
PointerAlignment: Left
